* {
    box-sizing: border-box;
}

body {
    background-image: url(../image/background-image.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;

    background-color: #00000040;
    padding: 18px 79px;
    box-shadow: 0 4px 4px #00000025;
}

.header-logo {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    transition: 0.2s ease;
}

.flex-container, 
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-calendar, .header-calendar svg path {
    width: 21px;
    height: 24px;
    margin-right: 27px;

    transition: fill 0.2s ease;
}

.header-letter, .header-letter svg path {
    width: 23px;
    height: 23px;
    margin-right: 24px;

    transition: fill 0.2s ease;
}

.header-compass, .header-compass svg path {
    width: 23px;
    height: 24px;

    transition: fill 0.2s ease;
}

.icon-container::after {
    content: '';
    width: 1px;
    height: 19px;
    margin: 2px 0 0 25px;
    background-color: #FFFFFF90;
}

.header-content {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 27px;
}

.header-link {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    transition: 0.2s ease;
}

.header-logo:hover, 
.header-calendar:hover svg path, 
.header-letter:hover svg path, 
.header-compass:hover svg path, 
.header-link:hover {
    color: #3CB878;
    fill: #3CB878;
}

/* Main */

.form-container {
    position: relative;
    width: 444px;
    height: 584px;
    background-color: #FFF;
    margin: 54px auto;
    padding: 31px 60px 38px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-heading {
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.form-link {
    color: #3CB878;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    transition: 0.2s ease;
}

.form-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-square {
    position: absolute;
    top: 33px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.wrapper-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;

    width: 160px;
    height: 48px;

    border: none;
    border-radius: 3px;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.facebook-btn {
    background-color: #305DB8;
    background-image: url(../icon/facebook-icon.svg);
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: center;

    transition: 0.2s ease;
}

.facebook-btn::before {
    content: '';
    width: 1px;
    height: 28px;
    margin-right: 18px;
    margin-left: 37px;
    background-color: #0A162F10;
}

.facebook-btn:hover {
    background-color: #022263;
}

.google-btn {
    background-color: #DF4A32;
    background-image: url(../icon/google-icon.svg);
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: center;

    transition: 0.2s ease;
}

.google-btn::before {
    content: '';
    width: 1px;
    height: 28px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #2B0D0910;
}

.google-btn:hover {
    background-color: #AB1F09;
}

.content-or {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #848484;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 32px;
}

.content-or::before,
.content-or::after {
    content: '';
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 11px 0 12px 0;
}

.first-name-input, 
.last-name-input, 
.email-input, 
.choose-password-input, 
.confirm-password-input {
    width: 100%;
    height: 44px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

    outline: none;

    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;

    transition: 0.2s ease;
}

.first-name-input::placeholder, 
.last-name-input::placeholder, 
.email-input::placeholder, 
.choose-password-input::placeholder, 
.confirm-password-input::placeholder {
    color: #BEBEBE;
}

.first-name-input:focus, 
.last-name-input:focus, 
.email-input:focus, 
.choose-password-input:focus, 
.confirm-password-input:focus {
    box-shadow: 0px 3px 8px #00000021;
}

.checkbox-container {
    display: block;
}

.checkbox {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;

    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid #F2F2F2;
    vertical-align: sub;
}

.custom-checkbox::before { 
    content: '';

    display: inline-block;
    width: 14px;
    height: 13.5px;

    background-image: url(../icon/checkmark.svg);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    transition: 0.2s ease-in;
}

.checkbox:checked + .label .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox-text-wrapper, 
.checkbox-link-wrapper {
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.checkbox-link-wrapper {
    color: #3CB878;
    text-decoration: none;

    transition: 0.2s ease;
}

.checkbox-link-wrapper:hover {
    color: #01813F;
    text-decoration: underline;
}

.submit-btn {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;

    width: 100%;
    height: 46px;
    background-color: #3CB878CC;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;

    transition: 0.2s ease;
}

.submit-btn:hover {
    background-color: #01813F;
}